* {
    box-sizing: border-box;
}

.parent{
    background-color: #bbb;
    display: flex;
    /* gap: 10px; GAP - промежуток между flex */
}

.menu{
    display: flex;
    margin-left: auto;
}

.logo{
    width: 100px;
    height: 100px;
    background: #777;
}
